// ******************************
// Custom Variables
// ******************************

$custom-primary: #4fc3d0;
$custom-secondary: #fbb03c;

// Buttons
$custom-btn-color: #fff;

// ******************************
// Overwrites Bootstrap Variables
// ******************************

// Buttons
